/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}
@font-face {
  font-family: "Imprima";
  src: url("./Imprima-Regular-COs9KgXw.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #fff7e7;
  font-family: "Imprima", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  gap: 32px;
  text-align: center;
}

.button {
  cursor: pointer;
}
.button--disabled {
  opacity: 0.5;
}

.edit-input__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  gap: 8px;
}

.edit-input__label {
  white-space: nowrap;
}

.edit-input__field {
  position: relative;
  width: 100%;
  max-width: 40px;
  padding: 8px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.keyboard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  gap: 8px;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 0;
  gap: 8px;
}

.key__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  background: url("../icons/pencil.svg") no-repeat center;
  background-size: 60%;
  background-color: #eae7e7;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.key__name {
  font-size: clamp(28px, 2.5vw, 48px);
  color: #000000;
}

.key__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: clamp(390px, 34.7vw, 500px);
  border-radius: 14px;
  border: 1px solid #edecec;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.key__button::before, .key__button::after {
  content: "";
  position: absolute;
  width: clamp(10px, 3vw, 17px);
  height: clamp(10px, 3vw, 17px);
  background-color: #ffffff;
  border-radius: 50%;
}
.key__button::before {
  top: 10px;
}
.key__button::after {
  bottom: 10px;
}
.key__button:hover:not(.active) {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}
.key__button:focus {
  outline: none;
}

.key__button--first {
  background-color: #ff8a84;
}

.key__button--second {
  height: clamp(380px, 34vw, 490px);
  background-color: #ffc3ae;
}

.key__button--third {
  height: clamp(370px, 33.3vw, 480px);
  background-color: #f4ec7b;
}

.key__button--fourth {
  height: clamp(360px, 32.6vw, 470px);
  background-color: #aedd94;
}

.key__button--fifth {
  height: clamp(350px, 32vw, 460px);
  background-color: #91e4fb;
}

.key__button--sixth {
  height: clamp(340px, 31.2vw, 450px);
  background-color: #a8c6fa;
}

.key__button--seventh {
  height: clamp(330px, 30.5vw, 440px);
  background-color: #b38df7;
}

.player-input__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.player-input__label {
  white-space: nowrap;
}

.player-input__field {
  flex: 1;
  padding: 8px;
  min-width: 200px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.player-input__button {
  padding: 8px 30px;
  white-space: nowrap;
  border: none;
  background-color: #7488eb;
  color: #ffffff;
  border-radius: 4px;
}

.error-msg {
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #ff0000;
  z-index: 2;
}
@media (max-width: 600px) {
  .error-msg {
    bottom: -16px;
    font-size: 11px;
  }
}

.hidden {
  display: none;
}

.is-invalid {
  outline: none;
  border: 1px solid #ff0000;
}

.active {
  transform: translateY(-3px) scale(0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: brightness(0.95);
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}